[Desktop Entry]
Name=TipToi Manager
Comment=TipToi-Stifte verwalten
Exec=tiptoi-gtk
Icon=io.github.tiptoi_linux.TiptoiManager
Terminal=false
Type=Application
Categories=Utility;Education;
Keywords=tiptoi;ravensburger;kinder;
